.launch-card {
    border: 1px solid #333;
    margin-bottom: 1rem;
    display: flex;
    align-items: stretch;
    overflow: hidden;
    height: 325px;
}

.launch-card__info {
    flex: 2;
    min-width: 0;
    padding: 1.5rem;
    border-right: 1px solid #333;
    overflow: hidden;
}

.launch-card img {
    flex: 1;
    min-width: 0;
    object-fit: cover;
    display: block;
    height: 100%;
}

.launch-card h2 {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

/* .launch-card p {
    color: #888;
    font-size: 0.85rem;
    line-height: 1.6;
} */

.launch-card__date {
  color: #aaa;
  font-size: 0.75rem;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
}

.launch-card__status {
  color: #4caf50;
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0.75rem;
}

.launch-card__description {
  color: #888;
  font-size: 0.85rem;
  line-height: 1.6;
  display: -webkit-box;
  overflow: hidden;
}

.launch-card__location {
  color: #555;
  font-size: 0.75rem;
  margin-top: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}